*{
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
}
.contact main {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.contact main .margin .contactInformation {
		width: 100%;
	}
	.contact main .margin .contactInformation .informationName {
		font-size: 20px;
		font-weight: bold;
		color: #1288ca;
		line-height: 100px;
		text-indent: 10px;
	}
	.contact main .margin .contactInformation .contactinforList {
		width: 100%;
		height: 100px;
		border: 1px solid #CCCCCC;
		display: flex;
		justify-content: space-between;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli span {
		font-size: 16px;
	}
	.contact main .margin .contactInformation .informationMap {
		width: 90%;
		height: auto;
		margin-bottom: 20px;
	}
@media only screen and (min-width: 1200px) {
	.contact main .margin {
		width: 1200px;
		height: auto;
	}
	.contact main .margin .contactTitle {
		width: 100%;
		height: 40px;
		line-height: 20px;
		background: url(../picture/download.jpg)no-repeat;
		margin-top: 20px;
		font-size: 20px;
		color: #1288ca;
		text-indent: 30px;
		vertical-align: middle;
	}
	.contact main .margin .contactInformation .contactinforList{
			line-height: 100px;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli img {
		display: inline-block;
		width: auto;
		height: auto;
		margin: auto 20px;
	}
	.contact main .margin .contactInformation .contactinforList .contanctActive {
		margin-right: 100px;
	}
	.contact main .margin .contacttitley {
		display: none;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli {
		display: flex;
		justify-content: space-around;
	}
	.contact main .margin .contactInformation .informationMap img {
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.contact main .margin .contactInformation .contactinforList .contactListlipc {
		display: flex;
		justify-content: space-around;
	}
	.contact main .margin .contactInformation .contactinforList .contactListlipc img {
		display: inline-block;
		width: auto;
		height: auto;
		margin: auto 20px;
	}
	.contact main .margin .contactInformation .contactinforList .contactListliyd {
		display: none;
	}
}
@media only screen and (max-width: 1200px) {
	.contact main .margin {
		width: 100%;
		height: auto;
	}
	.contact main .margin .contactTitle {
		display: none;
	}
	.contact main .margin .contacttitley {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background: #1288ca;
		color: #FFFFFF;
		text-indent: 5px;
	}
	.contact main .margin .contactInformation .contactinforList{
		width: 98%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: auto;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		line-height: 24px;
		margin: 10px;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli img{
		display: inline-block;
		width: auto;
		height: auto;
	}
	.contact main .margin .contactInformation .contactinforList .contactListli span {
		margin-left:10px;
	}
	.contact main .margin .contactInformation .informationMap {
		width: 95%;
		height: auto;
		margin: auto;
		margin-bottom: 10px;
	}
	.contact main .margin .contactInformation .informationMap img {
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.contact main .margin .contactInformation .contactinforList .contactListlipc {
		display: none;
	}
	.contact main .margin .contactInformation .contactinforList .contactListliyd img {
		display: inline-block;
		width: 90%;
		height: auto;
		margin: auto;
	}
}